<div class="centered ind_journey" data-id={{id}}>
  <p class="address">{{address}}</p>
  <br>
  <br>
<div class="mapstyle" id="map-canvas-{{id}}"></div>
<input class="rerun" data-id={{id}} type="submit" value="Re-run">
</div>