<!-- <div id="map-canvas" style="width: 100%; height: 100%"></div> -->
<!-- $(document).on('ready page:load', initialize); -->

<!-- <body onload="initialize()">
  </body> -->
<div id="see-route">
  <div id="my-start"><%= @journey["origin"] %></div>
  <div id="my-end"><%= @journey["destination"] %></div>
    <% if @journey.waypoints != nil %>
      <% @journey.waypoints.each do |waypoint| %>
      <% @waypoints << (waypoint["way_lat"].to_f) %>
      <% @waypoints << (waypoint["way_lng"].to_f) %>
      <% end %>
    <% end %>
  <div id="waypoints"><%= @waypoints %></div>
</div>

<div id="map-canvas"></div>
<div id="right-side"></div>
<div id="elevation_chart"></div>

<script>
  (function makeMap(callback){
    map = new google.maps.Map(document.getElementById('map-canvas'));
    directionsDisplay.setMap(map);
    callback();
  })(calcMyRoute)
</script>
